@model Assignment_3.Models.ActorMoviesVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.IMBDLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.IMBDLink)
        </dd>

        
        @if(Model.Actor.Image != null)
        {
            <img src="@Url.Action("GetActorPhoto","Actor", new {Model.Actor.Id})"/>
            <p>Hi</p>
        }

        @if(Model.Movies.Count > 0)
        {
            <h3>Movies Seen in</h3>   
            @foreach(var movie in Model.Movies)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => movie.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => movie.Title)
                </dd>
            
            }
        }
    </dl>

    <div>
        @if(Model.Tweets.Length > 0)
        {
            <h1>Tweets</h1>
            @foreach(var tweet in Model.Tweets)
            {
                <p>@Html.DisplayFor(model => tweet.Text)</p>
            }
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
