@model Assignment_3.Models.MovieActorsVM

@{
    ViewData["Title"] = "Details";
}

<div class="detail-container">
    <h3 class="detail-title">@Html.DisplayFor(model => model.Movie.Title)</h3>
    <div class="col col-lg">
        @if (Model.Movie.Poster != null)
        {
            <image class="detail-image" src="@Url.Action("GetMoviePhoto","Movie", new {Model.Movie.Id})" />
        }

    </div>
    <div class="col col-full">
            <p class="detail-info"><strong>Title: </strong>@Html.DisplayFor(model => model.Movie.Title)</p>
        <p class="detail-info"><strong>IMBD: </strong><a href="https://www.imdb.com/title/tt0162222/" target="_blank">@Html.DisplayFor(model => model.Movie.IMBDLink)</a></p>
        <p class="detail-info"><strong>Genre: </strong>@Html.DisplayFor(model => model.Movie.Genre)</p>
        <p class="detail-info"><strong>Release Date: </strong>@Html.DisplayFor(model => model.Movie.ReleaseYear)</p>
      @if(Model.Actors.Count > 0)
        {
            <p class="detail-info"><strong>Starring Actors</strong></p>
            <ul>
            @foreach(var actor in Model.Actors)
            {
                    <li><a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.Id">@Html.DisplayFor(model => actor.Name)</a></li>
            }
            </ul> 
        }
    </div>  
    

    <div>
        
            

            <table class="tweeter-table">
                <thead>
                    <tr>
                        <th>Tweet</th>
                        <th>Sentiment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tweet in Model.TweetWrapper.InternalTweets)
                    {
                    <tr>
                        
                            <td>@Html.DisplayFor(model => tweet.Tweet)</td>
                            <td>@Html.DisplayFor(model => tweet.Sentiment)</td>
                        </tr>
                    }
                    
                </tbody>
            </table>

        
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
