@model Assignment_3.Models.MovieActorsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.IMBDLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.IMBDLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.dateOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.dateOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Poster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Poster)
        </dd>
        @if(Model.Movie.Poster != null)
        {
            <img src="@Url.Action("GetMoviePhoto","Movie", new {Model.Movie.Id})" />
        }
        @if (Model.Actors.Count > 0)
        {
            <h3>Movies Seen in</h3>
            @foreach (var actor in Model.Actors)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => actor.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => actor.Name)
                </dd>

            }
        }
    </dl>
 
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
